<%= render "devise/shared/header" %>

<div class='main'>
  <div class='title-contents'>
    <h2 class='service-title'>
    </h2>
</div>

<div class='select-reason-contents'>
    <h2 class='title'>
        CRAFT BEER
      <br>
       〜クラフトビール〜
    </h2>
    <p class='title'>
      クラフト（craft）は英語で「技術」「工芸」「職人技」などを意味する言葉。
     <br>
      クラフトビールとは、小規模醸造所がつくる多様で個性的なビールのこと。
     <br>
      醸造する豊かなその土地の風土、
     <br>
      作り手によって様々な味わいが楽しめるのが特徴です。
     <br>
      種類によって新しい驚きや発見があり、
     <br>
      クラフトビールでしか出会えない感動があります。
     <br>
      福岡にもそんな素敵なビールを醸造しているブリュワリーがあり、
     <br>
     日本各地のクラフトビールが楽しめる場所もあります。
     <br>
     福岡にはたくさんの素敵なクラフトビールたちが集まっています。
     <br>
     思い思いにクラフトビールを楽しみ
     <br>
     福岡のクラフトビールシーンを盛り上げよう。
    </p>

    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "beer-image.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          飲みに行こう
        </h3>
        <p class='reason-list-description'>
          福岡市内にはクラフトビールを楽しめる店が沢山。美味しい出会いを求め、素敵なお店に遊びに行こう。
        </p>
        <p class='Resutoran'>
        <%= link_to 'Resutoran', resutorans_path %>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "brewery-image.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          醸造所を知ろう
        </h3>
        <p class='reason-list-description'>
          福岡県にはクラフトビールを醸造しているBreweryが沢山。お気に入りのブリュワリーを応援しよう。
        </p>
        <p class='Resutoran'>
          Brewery
        </p>
      </li>
      <li class='list'>
        <%= image_tag "kanpai-image.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          共有しよう
        </h3>
        <p class='reason-list-description'>
          実際に飲んでみて、美味しかった、面白かった等、ビール情報を投稿してみんなで楽しみましょう。
        </p>
        <p class='Resutoran'>
          <%= link_to 'Dictionary', posts_path %>
        </p>
      </li>
    </ul>
</div>

<%= image_tag "fukuoka1.jpg", class:"oohori" %>

<div class='enjoy'>
  <div class='enjoy-message'>
    <h4 class='enjoy-statement'>
          Let's enjoy 
          <p class='enjoy-statement-message'>
            CRAFT BEER
          <br>
             &
          <br>
             FUKUOKA
          <br>
          <p class='enjoy-statement-message2'>
          クラフトビールで福岡を彩ろう
          </p>
        </h4>
    </div>
  </div>
</div>

<%= render "devise/shared/footer" %>

<span id="back">
    <a href="">
      <%= image_tag 'top_btn.png', data: {"turbolinks"=>false}, class: "arrow" %>
    </a>
</span>